body {
  background: #f4f4f4; }

.shishang_l_t {
  padding-left: 20px;
  box-sizing: border-box;
  height: 53px;
  border-bottom: 1px solid #ddd; }
  .shishang_l_t h3:before {
    content: "";
    position: absolute;
    width: 4px;
    height: 16px;
    top: 16px;
    left: 0;
    background: #8558d6; }
  .shishang_l_t h3 {
    padding-left: 14px;
    position: relative;
    height: 46px;
    line-height: 46px;
    font-size: 18px; }
    .shishang_l_t h3 a {
      color: #8558d6; }

#huati {
  position: absolute;
  top: 486px;
  right: 45px;
  width: 50px;
  height: 350px;
  border-radius: 6px;
  background: white;
  text-align: center;
  box-sizing: border-box; }
  #huati li {
    height: 50px;
    padding: 10px 12px 7px 12px;
    box-sizing: border-box; }
    #huati li a {
      display: block;
      border-bottom: 1px solid #efefef;
      line-height: 17px; }

header {
  height: 121px;
  background: white; }
  header #header {
    overflow: visible; }
    header #header h1 {
      float: left;
      margin-top: 33px;
      margin-left: 22px;
      margin-right: 94px;
      width: 142px;
      height: 58px; }
      header #header h1 a img {
        width: 100%; }
    header #header #search {
      overflow: visible;
      float: left;
      position: relative;
      width: 630px;
      height: 40px;
      margin-top: 46px; }
      header #header #search #lianx {
        overflow: visible;
        position: absolute;
        z-index: 40;
        left: 0;
        top: 40px;
        background: white; }
        header #header #search #lianx li {
          width: 555px;
          height: 40px;
          line-height: 40px;
          padding-left: 18px;
          box-sizing: border-box; }
        header #header #search #lianx li:hover {
          background: #999; }
      header #header #search #search_keyword {
        overflow: visible;
        display: block;
        position: absolute;
        top: -22px;
        left: 20px; }
        header #header #search #search_keyword li {
          float: left;
          width: 36px;
          height: 22px;
          line-height: 22px;
          margin-right: 4px;
          text-align: center;
          cursor: pointer;
          font-size: 12px; }
      header #header #search form {
        overflow: hidden; }
        header #header #search form #search_text {
          float: left;
          width: 518px;
          height: 36px;
          padding-left: 34px;
          border: none;
          border-left: 2px solid #ff5000;
          border-top: 2px solid #ff5000;
          border-bottom: 2px solid #ff5000;
          border-bottom-left-radius: 20px;
          border-top-left-radius: 20px; }
        header #header #search form #search_file_wrap {
          float: left;
          width: 38px;
          height: 36px;
          border-top: 2px solid #FF5000;
          border-bottom: 2px solid #FF5000; }
          header #header #search form #search_file_wrap #search_file {
            opacity: 0;
            width: 36px; }
        header #header #search form #header_search {
          position: absolute;
          right: 0;
          top: 0;
          width: 74px;
          height: 40px;
          font-size: 17px;
          color: white;
          background: #ff8200;
          text-align: center;
          line-height: 40px;
          border: 2px solid #ff8900;
          border-bottom-right-radius: 20px;
          border-top-right-radius: 20px; }
      header #header #search #morekey_word {
        position: absolute;
        top: 49px;
        left: 0;
        font-size: 12px; }
        header #header #search #morekey_word li {
          float: left;
          margin-right: 9px; }
        header #header #search #morekey_word li:last-child {
          margin-left: 30px; }

nav {
  height: 30px;
  background: #ff8f00;
  line-height: 30px; }
  nav #navwrap a {
    color: white; }
  nav #navwrap li {
    float: left;
    color: white;
    line-height: 30px;
    text-align: center; }
  nav #navwrap #navcon1 li:first-child {
    width: 190px; }
  nav #navwrap #navcon1 a {
    margin: 0 13px 0 12px; }
  nav #navwrap #navcon1 li:last-child {
    margin: 0 14px 0 10px; }
  nav #navwrap #navcon2 a {
    margin-right: 19px; }
  nav #navwrap #navcon2 li:nth-child(5) a {
    margin-right: 15px; }
  nav #navwrap #navcon2 li:last-child {
    margin-right: 14px; }
  nav #navwrap #navcon3 a {
    margin-right: 18px; }

#navsubwrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 10px; }
  #navsubwrap #navsub_left {
    width: 189px;
    height: 510px;
    padding: 5px 0 3px 0;
    background: white;
    border: 1px solid #ff5000;
    border-top: none;
    margin-right: 9px; }
    #navsubwrap #navsub_left li {
      border-bottom: 1px solid #ddd;
      position: relative;
      color: #666;
      width: 145px;
      height: 32px;
      line-height: 32px;
      padding-left: 25px;
      padding-right: 19px;
      overflow: hidden;
      font-size: 14px;
      font-weight: 400;
      cursor: pointer; }
    #navsubwrap #navsub_left li:last-child {
      border: none; }
    #navsubwrap #navsub_left a {
      color: #666666; }
  #navsubwrap #navsub_center {
    margin-top: 10px;
    margin-right: 10px; }
    #navsubwrap #navsub_center .lunbo {
      position: relative;
      width: 520px;
      height: 280px;
      overflow: hidden; }
    #navsubwrap #navsub_center #lunboo {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 3;
      width: 520px;
      overflow: hidden; }
    #navsubwrap #navsub_center #promo {
      position: absolute;
      z-index: 4;
      left: 222px;
      bottom: 15px;
      width: 70px;
      height: 13px;
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 6px;
      background: rgba(255, 255, 255, 0.3);
      padding-top: 3px;
      box-sizing: border-box; }
      #navsubwrap #navsub_center #promo li {
        background: white;
        float: left;
        width: 8px;
        height: 8px;
        margin-right: 6px;
        border-radius: 50%; }
    #navsubwrap #navsub_center .sm_lunbo {
      position: relative;
      width: 520px;
      height: 230px;
      padding-top: 10px;
      box-sizing: border-box; }
      #navsubwrap #navsub_center .sm_lunbo .lunbo_top span {
        float: left;
        width: 122px;
        height: 19px;
        background: url(/img/index.png); }
      #navsubwrap #navsub_center .sm_lunbo .lunbo_top b {
        margin-left: 12px;
        height: 19px;
        line-height: 19px;
        float: left;
        font-size: 12px;
        color: #666666; }
      #navsubwrap #navsub_center .sm_lunbo .lunbo_top strong {
        float: right; }
        #navsubwrap #navsub_center .sm_lunbo .lunbo_top strong i {
          color: red; }
      #navsubwrap #navsub_center .sm_lunbo .sm_lunbo_con {
        position: absolute;
        top: 29px;
        left: 0;
        width: 520px;
        height: 201px;
        overflow: hidden; }
        #navsubwrap #navsub_center .sm_lunbo .sm_lunbo_con #slunbo {
          position: absolute;
          left: 0;
          top: 0;
          width: 520px; }
          #navsubwrap #navsub_center .sm_lunbo .sm_lunbo_con #slunbo li {
            float: left;
            height: 201px;
            width: 520px; }
            #navsubwrap #navsub_center .sm_lunbo .sm_lunbo_con #slunbo li img {
              width: 100%;
              height: 100%; }
  #navsubwrap #ad {
    margin-top: 10px;
    margin-right: 10px; }
    #navsubwrap #ad p {
      height: 31px;
      background: #f1f1f1;
      padding-top: 9px;
      box-sizing: border-box;
      font-size: 12px;
      color: #a1a1a1;
      line-height: 22px; }
  #navsubwrap #navsub_right {
    margin-top: 10px;
    float: left;
    width: 290px;
    background: white; }
    #navsubwrap #navsub_right #log {
      margin-bottom: 11px;
      width: 290px;
      height: 91px;
      background: red;
      box-sizing: border-box;
      padding: 6px 0 10px 0;
      background: url(/img/log.png);
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center; }
      #navsubwrap #navsub_right #log img {
        border-radius: 50%;
        margin-bottom: 6px; }
      #navsubwrap #navsub_right #log span {
        font-size: 12px;
        color: #3c3c3c; }
      #navsubwrap #navsub_right #log p a {
        float: left;
        height: 17px;
        padding-right: 10px;
        margin-left: 20px;
        background: #ffe4db;
        border-radius: 9px;
        text-align: center;
        line-height: 17px;
        font-size: 12px;
        color: red; }
        #navsubwrap #navsub_right #log p a span {
          float: left;
          width: 16px;
          height: 16px;
          padding-right: 10px;
          background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 1px -573px; }
    #navsubwrap #navsub_right #login {
      height: 25px;
      margin-left: 20px;
      margin-bottom: 16px; }
      #navsubwrap #navsub_right #login li {
        float: left;
        background: #ff5501;
        font-size: 14px;
        margin-right: 7px; }
        #navsubwrap #navsub_right #login li a {
          color: white;
          padding: 7px 23px 5px 23px; }
    #navsubwrap #navsub_right #rule p {
      height: 26px;
      line-height: 26px;
      text-align: center;
      font-size: 12px;
      background: #ffe4dd;
      color: #ff4400;
      margin-bottom: 16px; }
    #navsubwrap #navsub_right #rule .rulemenu {
      margin-left: 19px;
      margin-bottom: 11px;
      overflow: hidden; }
      #navsubwrap #navsub_right #rule .rulemenu li {
        float: left;
        margin-right: 23px;
        font-size: 12px;
        border-bottom: 2px solid #fff; }
        #navsubwrap #navsub_right #rule .rulemenu li a {
          color: #3c3c3c;
          padding: 0 4px 0 3px; }
      #navsubwrap #navsub_right #rule .rulemenu li:last-child {
        margin-right: 0; }
    #navsubwrap #navsub_right #rule span {
      display: block;
      padding-left: 12px;
      text-align: left;
      height: 25px;
      line-height: 25px; }
      #navsubwrap #navsub_right #rule span a {
        color: red; }
    #navsubwrap #navsub_right #rule div {
      padding-left: 12px;
      text-align: left;
      height: 29px;
      line-height: 29px;
      margin-bottom: 10px; }
    #navsubwrap #navsub_right #navsub_menu {
      border-top: 1px solid #ddd;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      align-items: center; }
      #navsubwrap #navsub_right #navsub_menu .item {
        width: 71.6px;
        height: 76px;
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: center; }
        #navsubwrap #navsub_right #navsub_menu .item span {
          margin-top: 13px;
          margin-bottom: 11px;
          display: block;
          width: 24px;
          height: 24px;
          background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 1px 0; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(2) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -90px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(3) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -45px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(4) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -133px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(4) {
        border-right: none; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(8) {
        border-right: none; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(12) {
        border-right: none; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(5) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -175px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(6) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -222px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(7) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -267px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(8) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -310px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(9) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -352px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(10) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -397px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(11) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -441px; }
      #navsubwrap #navsub_right #navsub_menu .item:nth-child(12) span {
        background: url(/img/TB1eiXTXlTH8KJjy0FiXXcRsXXa-24-595.png) 0 -484px; }
    #navsubwrap #navsub_right #app div {
      overflow: hidden;
      padding: 9px 18px 8px 15px; }
      #navsubwrap #navsub_right #app div span {
        font-size: 14px;
        color: #3c3c3c;
        font-weight: bold; }
      #navsubwrap #navsub_right #app div b {
        color: #3c3c3c; }
    #navsubwrap #navsub_right #app .applist {
      padding: 0;
      padding-left: 23px;
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: center; }
      #navsubwrap #navsub_right #app .applist span {
        margin-right: 21px;
        margin-bottom: 8px;
        display: block;
        width: 32px;
        height: 32px;
        background: url(/img/index1.png) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(2) {
        background: url(/img/index2.png) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(3) {
        background: url(/img/index3.png) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(4) {
        background: url(/img/index4.png) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(5) {
        background: url(/img/index5.png) center;
        background-size: cover;
        margin-right: none; }
      #navsubwrap #navsub_right #app .applist span:nth-child(6) {
        background: url(/img/index6.png) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(7) {
        background: url(/img/index7.png) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(8) {
        background: url(/img/index8.png) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(9) {
        background: url(/img/index9.jpg) center;
        background-size: cover; }
      #navsubwrap #navsub_right #app .applist span:nth-child(10) {
        background: url(/img/index10.png) center;
        background-size: cover; }
  #navsubwrap #nav_toutiao {
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 890px;
    height: 100px;
    margin-bottom: 10px;
    background: white; }
    #navsubwrap #nav_toutiao .tou_left {
      width: 200px;
      padding-top: 28px;
      box-sizing: border-box;
      padding-left: 20px; }
      #navsubwrap #nav_toutiao .tou_left img {
        width: 127px;
        margin-bottom: 10px; }
      #navsubwrap #nav_toutiao .tou_left p {
        font-size: 12px;
        color: #999999; }
    #navsubwrap #nav_toutiao .tou_right {
      width: 675px;
      height: 100%;
      display: flex;
      align-content: space-around;
      align-items: center; }
      #navsubwrap #nav_toutiao .tou_right dd {
        padding: 18px 15px 18px 18px;
        box-sizing: border-box; }
        #navsubwrap #nav_toutiao .tou_right dd h3 {
          font-size: 16px;
          font-weight: 700; }
          #navsubwrap #nav_toutiao .tou_right dd h3 span {
            float: right;
            font-size: 11px; }
            #navsubwrap #nav_toutiao .tou_right dd h3 span a {
              color: #999999; }
        #navsubwrap #nav_toutiao .tou_right dd p {
          height: 40px;
          line-height: 18px;
          font-size: 14px; }
          #navsubwrap #nav_toutiao .tou_right dd p a {
            color: #999999; }

#life_search {
  height: 166px;
  background: white;
  margin-bottom: 10px; }
  #life_search .tit {
    box-sizing: border-box;
    padding: 3px 0 2px 20px; }
    #life_search .tit img {
      float: left;
      width: 90px;
      margin-top: 16px;
      margin-right: 11px; }
    #life_search .tit p {
      float: left;
      font-size: px;
      height: 58px;
      line-height: 58px; }
      #life_search .tit p a {
        color: #999999; }
  #life_search .dlwrap {
    padding-left: 20px;
    box-sizing: border-box;
    display: flex;
    align-content: space-around;
    align-items: center; }
    #life_search .dlwrap dl {
      display: flex;
      align-content: space-around;
      align-items: center; }
      #life_search .dlwrap dl dt {
        width: 82px;
        border: 1px solid #39d7b0;
        border-radius: 50%;
        overflow: hidden; }
        #life_search .dlwrap dl dt img {
          display: block;
          width: 100%; }
      #life_search .dlwrap dl dd {
        width: 112px;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
        padding-left: 9px;
        box-sizing: border-box; }
        #life_search .dlwrap dl dd span {
          display: block;
          height: 24px;
          line-height: 24px;
          font-size: 16px;
          font-weight: 800;
          color: #333333; }
        #life_search .dlwrap dl dd i {
          display: block;
          height: 28px;
          line-height: 28px;
          font-size: 14px;
          color: #999999; }
        #life_search .dlwrap dl dd strong {
          display: block;
          height: 26px;
          line-height: 26px;
          font-size: 12px;
          color: #999999; }

#have_good {
  height: 658px;
  margin-bottom: 10px;
  overflow: hidden; }
  #have_good .good_left {
    background: white;
    padding: 21px;
    box-sizing: border-box;
    width: 590px; }
    #have_good .good_left .tit1 {
      overflow: hidden; }
      #have_good .good_left .tit1 img {
        float: left;
        width: 74px;
        height: 24px;
        margin-right: 12px; }
      #have_good .good_left .tit1 p {
        float: left;
        margin-left: 20px;
        margin-top: 6px; }
        #have_good .good_left .tit1 p a {
          color: #999999; }
      #have_good .good_left .tit1 span {
        float: right; }
        #have_good .good_left .tit1 span a {
          color: #999999; }
    #have_good .good_left .dl_wrap {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: center; }
      #have_good .good_left .dl_wrap .dl_con {
        width: 180px;
        height: 306px; }
        #have_good .good_left .dl_wrap .dl_con dt {
          height: 180px;
          margin-bottom: 6px;
          background: #ededed;
          overflow: hidden; }
          #have_good .good_left .dl_wrap .dl_con dt img {
            opacity: .9;
            display: block;
            width: 100%; }
        #have_good .good_left .dl_wrap .dl_con dd {
          padding: 0 8px;
          box-sizing: border-box; }
          #have_good .good_left .dl_wrap .dl_con dd span {
            height: 27px;
            line-height: 27px;
            font-size: 16px;
            font-weight: 800; }
          #have_good .good_left .dl_wrap .dl_con dd p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            height: 25px;
            line-height: 25px;
            font-size: 14px; }
            #have_good .good_left .dl_wrap .dl_con dd p a {
              color: #999; }
          #have_good .good_left .dl_wrap .dl_con dd b {
            height: 44px;
            line-height: 44px;
            font-size: 14px; }
            #have_good .good_left .dl_wrap .dl_con dd b a {
              color: #35b1ff; }

#qiang {
  height: 264px;
  margin-bottom: 10px;
  padding: 20px 24px 20px 20px;
  box-sizing: border-box;
  background: white; }
  #qiang .qiang_tit img {
    float: left;
    width: 80px;
    height: 22px;
    margin-bottom: 22px;
    margin-right: 12px; }
  #qiang .qiang_tit #daoji {
    margin-top: -1px;
    height: 20px;
    line-height: 20px;
    color: #999; }
    #qiang .qiang_tit #daoji b {
      float: left;
      margin-top: 4px;
      margin-right: 3px; }
    #qiang .qiang_tit #daoji span {
      float: left;
      margin-top: 2px;
      width: 20px;
      height: 20px;
      border-radius: 1px;
      background: #ffe4dc;
      margin-right: 3px;
      text-align: center;
      line-height: 20px;
      color: #ff504b; }
    #qiang .qiang_tit #daoji i {
      color: #ff9700;
      float: left;
      margin-right: 3px; }
  #qiang .qiang_tit .tit_r a {
    color: #999; }
  #qiang .qiang_tit .tit_r span {
    margin-right: 19px; }
  #qiang .qiangwrap {
    display: flex;
    align-content: space-around; }
    #qiang .qiangwrap .qiang_dl {
      width: 395px;
      display: flex;
      align-content: space-between; }
      #qiang .qiangwrap .qiang_dl dt {
        width: 181.8px;
        height: 180px;
        background: #999; }
        #qiang .qiangwrap .qiang_dl dt img {
          width: 100%;
          height: 100%;
          display: block;
          opacity: .9; }
      #qiang .qiangwrap .qiang_dl dd {
        box-sizing: border-box;
        padding: 11px 40px 0 15px; }
        #qiang .qiangwrap .qiang_dl dd h4 {
          line-height: 23px;
          font-size: 16px;
          font-weight: 800;
          margin-bottom: 22px; }
          #qiang .qiangwrap .qiang_dl dd h4 a {
            color: #333333; }
        #qiang .qiangwrap .qiang_dl dd p {
          margin-bottom: 40px; }
          #qiang .qiangwrap .qiang_dl dd p a {
            color: #999; }
        #qiang .qiangwrap .qiang_dl dd .price {
          margin-right: 10px; }
          #qiang .qiangwrap .qiang_dl dd .price span:nth-of-type(1) {
            font-size: 12px;
            width: 12px;
            height: 16px;
            color: red; }
          #qiang .qiangwrap .qiang_dl dd .price span:nth-of-type(2) {
            font-size: 20px;
            width: 12px;
            height: 16px;
            color: red; }
        #qiang .qiangwrap .qiang_dl dd .priceold {
          margin-top: 6px; }
          #qiang .qiangwrap .qiang_dl dd .priceold span:nth-of-type(1) {
            float: left;
            font-size: 12px;
            width: 12px;
            height: 16px;
            color: #999;
            text-decoration: line-through; }
          #qiang .qiangwrap .qiang_dl dd .priceold span:nth-of-type(2) {
            float: left;
            font-size: 12px;
            width: 12px;
            height: 16px;
            color: #999;
            text-decoration: line-through; }

#haodian .meiri {
  width: 590px;
  height: 538px;
  padding: 7px 20px 18px 20px;
  box-sizing: border-box;
  background: white; }

#haodian .meiri_tit b {
  float: left;
  margin-top: 13px;
  margin-right: 11px;
  margin-bottom: 13px;
  width: 81px;
  height: 24px; }

#haodian .meiri_tit i {
  margin-top: 15px;
  float: left;
  line-height: 22px; }

#haodian .meiri_tit span {
  float: right;
  margin-top: 20px; }
  #haodian .meiri_tit span a {
    color: #ddd; }

#haodian .daytui li {
  float: left;
  margin-right: 8px;
  margin-bottom: 33px; }
  #haodian .daytui li h4 {
    height: 35px;
    padding-bottom: 7px;
    line-height: 28px;
    font-size: 16px;
    font-weight: 500; }
    #haodian .daytui li h4 a {
      float: left;
      color: #333333; }
    #haodian .daytui li h4 span {
      float: left;
      margin-left: 11px;
      color: #ddd;
      font-size: 12px; }
  #haodian .daytui li .imglist {
    width: 271px;
    height: 180px; }
    #haodian .daytui li .imglist .imgwrap {
      float: left;
      background: #ddd;
      margin-right: 2px; }
      #haodian .daytui li .imglist .imgwrap img {
        opacity: .5; }
    #haodian .daytui li .imglist .imgwrap1 {
      width: 89px;
      height: 89px;
      float: left;
      background: #ddd;
      margin-bottom: 2px; }
      #haodian .daytui li .imglist .imgwrap1 img {
        opacity: .5; }

#haodian .daytui li:nth-child(2) {
  margin-right: 0; }

#haodian .daytui li:nth-child(4) {
  margin-right: 0; }

#haodian .live {
  width: 590px;
  height: 538px;
  padding: 7px 20px 18px 20px;
  box-sizing: border-box;
  background: white; }

#shishang {
  height: 290px; }
  #shishang .shishang_l {
    padding: 7px 0 0 0;
    box-sizing: border-box;
    background: white;
    width: 840px; }
    #shishang .shishang_l .shishang_l_b {
      height: 290px; }
      #shishang .shishang_l .shishang_l_b li {
        float: left;
        width: 280px;
        padding-top: 29px;
        padding-left: 20px;
        box-sizing: border-box;
        border-right: 1px solid #ddd; }
        #shishang .shishang_l .shishang_l_b li h4 {
          height: 26px;
          line-height: 26px;
          font-size: 16px; }
          #shishang .shishang_l .shishang_l_b li h4 a {
            color: #000; }
        #shishang .shishang_l .shishang_l_b li p {
          height: 22px;
          line-height: 22px; }
          #shishang .shishang_l .shishang_l_b li p a {
            color: #ddd; }
        #shishang .shishang_l .shishang_l_b li img {
          float: left;
          margin-bottom: 28px; }
      #shishang .shishang_l .shishang_l_b li:last-child {
        border-right: none; }
  #shishang .shishang_r {
    background: white;
    width: 340px;
    padding: 21px;
    box-sizing: border-box; }

#pinzhi {
  height: 768px; }
  #pinzhi .pinzhi_l {
    width: 590px;
    background: white; }
    #pinzhi .pinzhi_l .shishang_l_t h3 a {
      color: #28abff; }
    #pinzhi .pinzhi_l .shishang_l_t h3:before {
      content: "";
      position: absolute;
      width: 4px;
      height: 16px;
      top: 16px;
      left: 0;
      background: #28abff; }
    #pinzhi .pinzhi_l .pinzhi_b li {
      float: left; }
    #pinzhi .pinzhi_l .pinzhi_b li:nth-child(1) {
      border-right: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      width: 293px;
      height: 357px; }
    #pinzhi .pinzhi_l .pinzhi_b li:nth-child(2) {
      width: 296px;
      height: 238px;
      border-bottom: 1px solid #ddd; }
    #pinzhi .pinzhi_l .pinzhi_b li:nth-child(3) {
      width: 296px;
      height: 237px;
      border-bottom: 1px solid #ddd; }
    #pinzhi .pinzhi_l .pinzhi_b li:nth-child(4) {
      width: 296px;
      height: 237px;
      border-bottom: 1px solid #ddd; }
    #pinzhi .pinzhi_l .pinzhi_b li:nth-child(5) {
      width: 296px;
      height: 237px;
      border-bottom: 1px solid #ddd; }
    #pinzhi .pinzhi_l .pinzhi_b li:nth-child(6) {
      width: 296px;
      height: 237px;
      border-bottom: 1px solid #ddd; }
    #pinzhi .pinzhi_l .pinzhi_b li:nth-child(7) {
      width: 296px;
      height: 237px;
      border-bottom: 1px solid #ddd; }

#end {
  height: 251px;
  padding-top: 25px;
  box-sizing: border-box; }
  #end .endtit {
    width: 224px;
    margin: 0 auto;
    margin-bottom: 74px;
    overflow: hidden; }
    #end .endtit span {
      float: left;
      width: 60px;
      height: 8px;
      border-bottom: 1px solid #ddd; }
    #end .endtit b {
      float: left;
      margin: 0 36px;
      font-size: 13px;
      color: #d3ccd0; }
  #end .endlist {
    padding-left: 25px;
    box-sizing: border-box;
    display: flex;
    align-content: space-around; }
    #end .endlist li {
      width: 215px;
      margin-right: 87px; }
      #end .endlist li h4 {
        font-size: 16px;
        color: #000;
        font-weight: bold;
        padding-top: 4px;
        box-sizing: border-box;
        line-height: 28px;
        margin-bottom: 16px; }
      #end .endlist li p {
        overflow: hidden; }
        #end .endlist li p span {
          float: left;
          line-height: 21px; }
          #end .endlist li p span a {
            color: #999;
            margin-right: 15px; }
